/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
    --branding-color: #6C63FF;
    --heading-font-family:  'Playfair Display', serif;
    --default-font-family:  'Poppins', sans-serif;
    --secondary-color: #F9F7FE;
}
body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    color:black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
p {
    font-weight: normal; 
    font-size: 16px; 
    line-height: 30px;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;  
    font-weight: bold;
    margin: 0;
}
.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.4;
    color: #272142;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px  
}
.btn-branding-outline {
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px  
}
.project-description {
    padding: 0 5px 0;
}
@media (max-width: 900px) {
    .projext-description {
        padding: 0;
        text-align: center;
    }
    .hero {
        padding: 80px 20px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 42px;
    }
    .row {
        margin: 0 5px 0 5px;
    }
}
.row {
    margin-bottom: 10%;
}